body{
    background-color: black;
}
.nav_bar .dropdown{
    display: none;
}
h1{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 48px;
    color:#b76e79;
    text-align: center;
}

.nav_bar{
    background-color: #5a252d;
    display: flex;
    justify-content: right;
    object-fit: cover;
}

.nav_bar a{
    padding:10px;
    color:gold;
    text-decoration: none;
}

.nav_bar a:hover{
    background-color: #bb5464;
    color:gold;
    text-decoration: underline;
}

@media screen and (max-width:768px){
    
}